/* Reset the margin and padding of everything so we can get rid of the white border that the browser gives us by default*/
* {
    margin: 0;
    padding: 0;
  }
  

.page-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}


/**
 Screen-size mixins
*/
@mixin breakpoint($break) {
    @if $break == large {
        @media (min-width: $break-large) { @content; }
    }
    @else if $break == medium {
      @media (min-width: $break-medium) { @content; }
  }
    @else if $break == small {
      @media (max-width: $break-small) { @content; }
    }
    @else {
        @media ($break) { @content; } 
    }
}