<app-confirm-modal
  #confirmModal
  title="Confirm Delete"
  [message]="confirmModalMessage"
  (confirmed)="confirmDeletePage()"
></app-confirm-modal>

<div class="page-header">
  <div class="page-title">
    <h1 *ngIf="!storyID">Create Story</h1>
    <h1 *ngIf="storyID">Edit Story</h1>
  </div>
  <div class="story-stats">
    <p class="text-muted">Total Pages: {{ storyToEdit?.pages?.length }}</p>
  </div>
</div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <fieldset>
    <div class="form-group">
      <label for="title" class="form-label mt-4">Title</label>
      <input
        name="title"
        type="text"
        class="form-control"
        id="title"
        ngModel="{{ storyToEdit?.title }}"
        required
        (change)="onChangeTitle()"
      />
    </div>
  </fieldset>

  <div *ngFor="let page of this.storyToEdit?.pages">
    <hr />
    <div class="story-page-header">
      <legend>{{ 'Page: ' + page.pageNumber }}</legend>
      <fa-icon
        class="delete-page-button"
        [icon]="['fas', 'trash']"
        (click)="onDeletePage(page)"
      ></fa-icon>
    </div>
    <fieldset>
      <div class="form-group">
        <label for="pageText" class="form-label mt-4">Page Text</label>
        <textarea
          class="form-control"
          name="pageText"
          rows="3"
          value="{{ page.pageText }}"
          required
          (blur)="onChangePageText(page.pageNumber, $event)"
        ></textarea>
      </div>

      <label for="pageText" class="form-label mt-4"
        >When reader finishes the page...</label
      >

      <!-- When user finishes page -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="{{ page.pageNumber }}"
          id="optionsRadios1"
          value="1"
          required
          ngModel="{{ page.whenReaderFinishesPage }}"
          (change)="onChangeWhenReaderFinishesPage(page.pageNumber, $event)"
        />
        <label class="form-check-label" for="{{ page.pageNumber }}">
          Continue to next page
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="{{ page.pageNumber }}"
          id="optionsRadios2"
          value="2"
          required
          ngModel="{{ page.whenReaderFinishesPage }}"
          (change)="onChangeWhenReaderFinishesPage(page.pageNumber, $event)"
        />
        <label class="form-check-label" for="{{ page.pageNumber }}">
          Make a choice
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="{{ page.pageNumber }}"
          id="{{ page.pageNumber }}3"
          value="3"
          ngModel="{{ page.whenReaderFinishesPage }}"
          (change)="onChangeWhenReaderFinishesPage(page.pageNumber, $event)"
          required
        />
        <label class="form-check-label" for="{{ page.pageNumber }}">
          Trigger an ending
        </label>
      </div>

      <!-- Choices -->
      <div *ngIf="page.whenReaderFinishesPage === 2">
        <div *ngFor="let choice of page.choices">
          <label class="form-label mt-4">Choice {{ choice.number }}</label>
          <textarea
            class="form-control choice-input"
            name="choice{{ choice.number }}"
            rows="3"
            value="{{ choice.text }}"
            required
          ></textarea>

          <div class="form-group links-to-page-container">
            <label
              for="pageLinkSelect"
              class="form-label mt-2 links-to-page-label"
              >Links to page:</label
            >
            <select
              class="form-select links-to-page-select"
              name="pageLinkSelect"
              id="pageLinkSelect"
            >
              <option
                *ngFor="let page of storyToEdit?.pages"
                [selected]="choice.linksToPage === page.pageNumber"
              >
                {{ page.pageNumber }}
              </option>
            </select>
            <button
              type="button"
              class="btn btn-primary"
              (click)="linkToNewPage()"
            >
              Link to new page &plus;
            </button>
          </div>
        </div>
        <br />
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="addChoice(page)"
        >
          Add Choice &plus;
        </button>
      </div>
    </fieldset>
  </div>

  <br />
  <button type="button" class="btn btn-primary" (click)="addPage()">
    Add Page &plus;
  </button>

  <div class="submit-buttons">
    <button type="submit" class="btn btn-success btn-lg" *ngIf="f.valid">
      {{ editMode ? 'Update' : 'Publish' }}
    </button>

    <button
      type="button"
      class="btn btn-success disabled btn-lg"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-toggle="tooltip"
      data-placement="top"
      title="Your story must have at least one ending before you publish."
      *ngIf="!f.valid"
    >
      {{ editMode ? 'Update' : 'Publish' }}
    </button>

    <button
      type="submit"
      class="btn btn-primary btn-lg"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-toggle="tooltip"
      data-placement="top"
      title="Save your draft and finish it later."
    >
      Save Draft
    </button>
  </div>
</form>
