<h1 *ngIf="!storyID">Create Story</h1>
<h1 *ngIf="storyID">Edit Story</h1>

<form (ngSubmit)="onPublish(form)" #form="ngForm">
  <fieldset>
    <div class="form-group">
      <label for="title" class="form-label mt-4">Title</label>
      <input
        name="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter a title for your story"
        ngModel
      />
    </div>
  </fieldset>
  <br />
  <br />
  <legend>Page 1</legend>
  <fieldset>
    <div class="form-group">
      <label for="pageText" class="form-label mt-4">Page Text</label>
      <textarea
        class="form-control"
        id="pageText"
        name="pageText"
        rows="3"
        ngModel
      ></textarea>
    </div>

    <label for="pageText" class="form-label mt-4"
      >When reader finishes the page...</label
    >
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="optionsRadios"
        id="optionsRadios1"
        value="option1"
        ngModel
      />
      <label class="form-check-label" for="optionsRadios1">
        Continue to next page
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="optionsRadios"
        id="optionsRadios2"
        value="option2"
        ngModel
      />
      <label class="form-check-label" for="optionsRadios2">
        Make a choice
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="optionsRadios"
        id="optionsRadios3"
        value="option3"
        ngModel
      />
      <label class="form-check-label" for="optionsRadios3">
        Trigger an ending
      </label>
    </div>
  </fieldset>

  <div class="submit-buttons">
    <button type="submit" class="btn btn-success" *ngIf="enablePublish">
      Publish Story
    </button>

    <button
      type="button"
      class="btn btn-success disabled"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-toggle="tooltip"
      data-placement="top"
      title="Your story must have at least one ending before you publish."
      *ngIf="!enablePublish"
    >
      Read
    </button>

    <button
      type="submit"
      class="btn btn-primary"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-toggle="tooltip"
      data-placement="top"
      title="Save your draft and finish it later."
    >
      Save Draft
    </button>
  </div>
</form>
