@import '../scss/main.scss';

.logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-link,
.dropdown-item {
  cursor: pointer;
}

.user-link {
  display: flex;
  gap: 4px;
  align-items: center;
}
