<div class="card text-white bg-primary mb-3" style="max-width: 20rem">
  <div class="card-body">
    <span class="badge rounded-pill bg-secondary" *ngIf="story.draft"
      >Draft</span
    >
    <h4 class="card-title">{{ story.title }}</h4>
    <p class="card-text">{{ story.description }}</p>
  </div>
  <div class="story-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="readStory.emit()"
      *ngIf="!story.draft"
    >
      Read
    </button>
    <button
      type="button"
      class="btn btn-success disabled"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-toggle="tooltip"
      data-placement="top"
      title="You cannot read a draft. To finish the draft, edit the story and give it at least one ending."
      *ngIf="story.draft"
    >
      Read
    </button>
    <button type="button" class="btn btn-warning" (click)="editStory.emit()">
      Edit
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteStory.emit()">
      Delete
    </button>
  </div>
</div>
