@import '../scss/main.scss';

.story-footer {
  display: flex;
  gap: 10px;
}

.card-body {
  height: 200px;
  overflow: scroll;
}

.story-footer {
  padding: 16px;
}

.badge {
  margin-bottom: 16px;
}
