<div class="card text-white bg-primary mb-3" style="max-width: 20rem">
  <div class="card-body">
    <span class="badge rounded-pill bg-secondary" *ngIf="story.draft"
      >Draft</span
    >
    <h4 class="card-title">{{ story.name }}</h4>
    <p class="card-text">{{ story.description }}</p>
  </div>
  <div class="story-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="readStory.emit()"
      [disabled]="story.draft"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
    >
      Read
    </button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="editStory.emit()"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
    >
      Edit
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteStory.emit()">
      Delete
    </button>
  </div>
</div>
