<div *ngIf="story && currentPage">
  <div class="story-header header-with-arrow" *ngIf="previousPages.size() >= 1">
    <div
      class="page-arrow"
      *ngIf="previousPages.size() >= 1"
      (click)="goToLastPage()"
    >
      &larr;
    </div>
    <p>{{ story.title }}</p>
    <p>{{ currentPage.pageNumber }}</p>
  </div>

  <div class="story-header" *ngIf="previousPages.size() < 1">
    <h1>{{ story.title }}</h1>
    <h1>{{ currentPage.pageNumber }}</h1>
  </div>
  <div class="page-text" [innerHTML]="currentPage.pageText"></div>

  <div *ngIf="continueToNextPage" class="choices d-grid gap-2">
    <button
      class="btn btn-lg btn-primary"
      type="button"
      (click)="goToNextPage()"
    >
      Continue to page {{ currentPage.pageNumber + 1 }}
    </button>
  </div>

  <div *ngIf="showChoices" class="choices d-grid gap-2">
    <button
      *ngFor="let choice of currentPage.choices"
      class="btn btn-lg btn-primary"
      type="button"
    >
      {{ choice.text }}
    </button>
  </div>

  <div class="ending" *ngIf="showEnding">
    <h3>THE END</h3>
  </div>
</div>
