.story-header {
  display: flex;
  justify-content: space-between;
}

.page-text {
}

.choices {
  margin-top: 50px;
}

.ending {
  margin-top: 50px;
  text-align: center;
}

.page-arrow {
  transition: all 0.1s;
}

.page-arrow:hover {
  cursor: pointer;
  color: #2a9fd6;
}

.header-with-arrow {
  font-size: 1.2em;
}
